
.div {
    border: 1px;
    font-size: 16px;
    margin: 15px;
    display: block;
    margin-left:30 ;  
}


.title{
    background-color: #A52A2A;
    color: white;
    margin-left: ;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: center;    
}

.img1 {
    margin: 10px;
    margin-right: 30;
    width: 95%; 

}


.text1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.text2 {
    font-weight: bold;
}

 .text3 {
     font-style: italic;
 }

 .text4 {
     color: mediumblue;
    font-weight: bold;
}

.m2 {
    text-align: center;}

.img2 {
    border: dotted;
}

.text {
    font-weight: bold;
    font-style: italic;
    color: rgb(26, 26, 230)
}

.footer {
    border: 1px;
    margin: 15px;
    display: block;
    width: 100%; 
    background-color: #162119;
    color:white;
    font-style: oblique;
    font-size: 20px;
    text-align: center;
}

    

   
